.navbar-custom{
  margin-bottom: 30px;
}

#homepage{
  background-image: url(bg-foto.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

.logout-btn{
  margin-left: 5px;
}
